/Src/Client/Temp
/Src/Client/Assets/Plugins
/Src/Client/Assets/NewBehaviourScript.cs
/Src/Client/Assets/NewBehaviourScript.cs.meta
/Src/Client/Assets/Plugins.meta
/Src/Client/ExtremeWorld_Data
/Src/Client/ExtremeWorld.exe
